/* Vars */
:root {
  --header-height: 60px;
  --header-border: 0px;
  --column-width: 120px;
  --column-border: 5px;
  --footer-height: 25px;
  --footer-border: 0px;

  /* http://www.color-hex.com/color-palette/63345 */
  --bg-color: #eff5fb;
  --account-color: #3e5569;
  --source-color: #749abd;
  --workspace-color: #c6d3df;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

/* Layout */
body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 10pt;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  border-bottom-width: var(--header-border);
  border-bottom-style: solid;
  border-bottom-color: var(--account-color);
  background-color: var(--bg-color);
  padding: 0 8;
}
main {
  position: absolute;
  top: calc(var(--header-height) + var(--header-border));
  bottom: calc(var(--footer-height) + var(--footer-border));
  left: 0;
  right: 0;
  overflow: hidden;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--footer-height);
  border-top-width: var(--footer-border);
  border-top-style: solid;
  border-top-color: var(--account-color);
  background-color: var(--bg-color);
  padding: 8;
}
.account-list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--column-width);
  border-left: var(--column-border) solid var(--account-color);
  background-color: var(--account-color);
  padding-top: 8;
  overflow-y:scroll;
}
.source-list {
  position: absolute;
  top: 0;
  left: calc(var(--column-width) + var(--column-border));
  bottom: 0;
  width: var(--column-width);
  border-left: var(--column-border) solid var(--source-color);
  background-color: var(--source-color);
  padding-top: 8;
  overflow-y:scroll;
}
.workspace {
  position: absolute;
  top: 0;
  left: calc(2 * calc(var(--column-width) + var(--column-border)));
  right: 0;
  bottom: 0;
  background-color: var(--workspace-color);
  padding: 0 0 12 12;
  overflow-y:scroll;
}
.btn-divider {
  height: 16px;
}
.account-btn, .source-btn {
  width: 100%;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 100px 0 0 100px;
  margin: 4 0;
}
.account-btn {
  background-color: var(--account-color);
}
.account-btn.selected {
  background-color: var(--source-color);
  font-weight: bold;
}
.source-btn {
  background-color: var(--source-color);
}
.source-btn.selected {
  background-color: var(--workspace-color);
  font-weight: bold;
}
.delete-btn, .delete-btn-v2 {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 30px;
  color: black;
  background-color: white;
  font-size: 6pt;
  width: 13px;
  height: 13px;
  padding: 1 0 0 0;
  margin: 1.25 0 0 0;
}
.delete-btn {
  position: absolute;
  left: calc(-3px + var(--column-border));
}
.add-another {
  border: 0;
  background: none;
  box-shadow: none;
  font-style: italic;
  font-size: 8pt;
}
.bottom-btn {
  width: 100px;
  margin: 0 7px;
  border-width: 1px;
  border-style: solid;
  background: none;
  box-shadow: none;
  border-radius: 0;
}
.bottom-btn#save-btn {
  color: green;
}
.bottom-btn#reset-btn {
  color: red;
}
.bottom-label {
  margin: 0 20px;
}
.term {
  margin-top: 12;
  padding: 8;
  border: 1px solid var(--source-color);
  width: 300px;
}
.days, .interval-block {
  margin-left: 20px;
}
